- content_for :title, 'Stock productivity calculator'

.row
  .large-12.columns
    %table
      %thead
        %tr
          %th Name
          %th Price
          %th Quantity
          %th Percentage
          %th Years
      %tbody
        - @stocks.each do |stock|
          %tr
            %td= link_to stock.name, stock_path(stock)
            %td= number_with_two_decimals(stock.price)
            %td= stock.quantity
            %td= number_with_two_decimals(stock.percentage)
            %td= stock.years

.row
  .large-12.columns
    = button_to 'Enter new stock', new_stock_path, { class: 'button', method: :get }
