- content_for :title, 'Enter stock details'

.row
  .large-4
    = form_for @stock do |f|
      - if @stock.errors.any?
        .alert-box.info.radius{ data: { alert: true } }
          %h3 Fix following errors:
          %ul
            - @stock.errors.full_messages.each do |msg|
              %li= msg
      %fieldset
        %legend Enter stock details

        = f.label :name
        = f.text_field :name

        = f.label :price
        = f.text_field :price

        = f.label :quantity
        = f.text_field :quantity

        = f.label :percentage
        = f.text_field :percentage

        = f.label :years
        = f.text_field :years

        = f.submit 'Calculate', class: 'button small success'
