- content_for :title, 'Calculation result'

.row
  .large-2.columns
    %table
      %tbody
        %tr
          %td= "Name: #{@stock.name}"
        %tr
          %td= "Price: #{number_with_two_decimals(@stock.price)}"
        %tr
          %td= "Quantity: #{@stock.quantity}"
        %tr
          %td= "Percentage: #{number_with_two_decimals(@stock.percentage)}"
        %tr
          %td= "Years: #{@stock.years}"
  .large-10.columns
    %table#stock_values_table
      %tbody
        %tr
          %td Year
          - @stock.stock_values_each_year.map(&:first).each do |year|
            %td{ id: "year_#{year}" }= year
        %tr
          %td Stock value
          - @stock.stock_values_each_year.each do |year, price|
            %td{ id: "price_#{year}" }= number_with_two_decimals(price)
.row
  .large-12.columns
    #stockChart{ data: { values: values_array_for_chart_to_json(@stock) } }
.row
  .large-12.columns
    = link_to 'Back', :back, class: 'button small success'

